@media only screen and (min-width: 768px) and (max-width: 1400px) {
}

/* ---------------------------------------- Vista home ---------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Nunito+Sans:wght@300&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

.home-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.title-flora {
    font-size: 32px;
    color: #263238;
    text-align: center;
    margin: 20px;
}

.logo-flora {
    color: #263238;
    text-align: center;
    font-size: 13px;
    row-gap: 50px;
}

.container-img-home {
    max-width: 80%;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ---------------------------- Botones e inputs home/login/register ---------------------------- */

.button {
    font-family: sans-serif;
    background-color: #263238;
    transition: background-color .5s;
    color: #E0EDA5;
    border-radius: 25px;
    border: hidden;
    margin: 5px;
    padding: 15px;
    font-size: 12px;
    width: 230px;
    height: 44px;
    cursor: pointer;
}

.button:hover {
    background-color: #111a1e;
  }

.button-google {
    font-family: sans-serif;
    background: rgba(217, 217, 217, 0.26);
    color: #263238;
    border-radius: 25px;
    border: hidden;
    margin: 5px;
    padding: 15px;
    font-size: 12px;
    width: 230px;
    height: 44px;
    cursor: pointer;
    background-image: url(../src/images/google-icon.png);
    background-repeat:no-repeat;
    background-size: 28px;
    background-position: 6%;
}

.login-register-div {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
}

.input-data {
width: 269px;
height: 40px;

font-size: 12px;
background: rgba(217, 217, 217, 0.26);
color: gray;
text-align: left;
border: hidden;
border-radius: 12px;
margin: 5px;
padding: 10px;
}

/* --------------------------------- Botones e inputs timeline --------------------------------- */

.divPost{
    width: 302px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #263238;
    border-radius: 12px;
}

.inpPost{
    width: 302px;
    height: 89px;
    
    font-size: 12px;
    background: rgba(217, 217, 217, 0.26);
    color: gray;
    text-align: left;
    border: hidden;
    border-radius: 12px;
    margin: 5px;
    padding: 10px;
}  

.posts-container {
    font-size: 12px;
    color: gray;
    text-align: left;
    border: hidden;
    border-radius: 12px;
    margin: 5px;
    padding: 10px;
}


.like, .dislike {
    height: 20px;
    margin: 0px;
  }

  .btnLike {
    border: none;
    background-color: #263238; 
    border-radius: 50px;
    padding: 5px;
  }

  .btnDelete {
    font-family: sans-serif;
    background: rgba(217, 217, 217, 0.26);
    transition: background-color .5s;
    color: gray;
    border-radius: 10px;
    border: hidden;
    margin: 5px;
    padding: 10px;
    font-size: 12px;
    width: 60px;
    height: 40px;
    cursor: pointer;
    justify-items: left;
  }

  .btnDelete:hover {
    background-color: rgba(101, 101, 101, 0.39);
  }
  

  .button-logout {
    font-family: sans-serif;
    background-color: #263238;
    color: #E0EDA5;
    border-radius: 25px;
    border: hidden;
    margin: 5px;
    padding: 15px;
    font-size: 12px;
    width: 150px;
    height: 44px;
    cursor: pointer;
    justify-content: flex-end;
}

/* ---------------------------------------- Textos errores ---------------------------------------- */

.titles {
    font-family: sans-serif;
    font-size: 25px;
    color: #263238;
    text-align: center;
}

.error-message {
    color: #F96645;
    font-size: 14px;
    margin-top: 5px;
  }