@media only screen and (min-width: 768px) and (max-width: 1400px) {

.containerImgHome {
max-width: 5%;
}

.inputEmail {
width: 269px;
height: 55px;

background: rgba(217, 217, 217, 0.26);
border-radius: 12px;
}


}
