@media only screen and (min-width: 768px) and (max-width: 1400px) {
    
}

.HomeDiv{
    margin: 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.titleFlora {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #263238;
    text-align: center;
}

.logoFlora {
    font-family: sans-serif;
    color: #263238;
    text-align: center;
    font-size: 13px;
}

.containerImgHome {
    max-width: 100%;
    align-items: center;
}

.button {
    font-family: sans-serif;
    background-color: #263238;
    color: #E0EDA5;
    border-radius: 25px;
    border: hidden;
    margin: 5px;
    padding: 15px;
    font-size: 12px;
    width: 213px;
    height: 44px;
    cursor: pointer;
}

.button:hover {
    background-color: #E1EDA5;
    color:#263238;
  }



/* max-width: 5%;
}

} */

/*seccion login--------------------------------------------------*/
.logindiv{
display: flex;
flex-direction: column;
}
.input-correo {
width: 269px;
height: 55px;


font-size: large;
background: rgba(217, 217, 217, 0.26);
border-radius: 12px;
}
.input-contraseña {
width: 269px;
height: 55px;

font-size: large;
background: rgba(217, 217, 217, 0.26);
border-radius: 12px;
}

