/* --------------------- Estilos generales --------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Nunito+Sans:wght@300&display=swap');
* {
  font-family: 'Nunito Sans', sans-serif;
}

/*  Textos errores */
.error-message {
  color: #F96645;
  font-size: 14px;
  margin: 5px;
}

/* ---------------------------------------- Vista home ---------------------------------------- */

.home-div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  justify-items: center;
  margin: 20px;
  background-color: fuchsia;
}

.title-flora {
    font-family: 'Bitter', sans-serif;
    font-size: 32px;
    color: #263238;
    text-align: center;
}

.logo-flora {
    color: #263238;
    text-align: center;
    font-size: 13px;
    grid-row-gap: 50px;
    background-color: greenyellow;
}

.container-img-home {
    max-width: 110%;
    align-items: center;
    margin-bottom: 50px;
    background-color: aqua;
}

.button-register {
  justify-self: center;
  align-self: start;
  background-color: #263238;
  transition: background-color .5s;
  color: #E0EDA5;
  border-radius: 25px;
  border: hidden;
  margin: 5px;
  padding: 15px;
  font-size: 12px;
  width: 230px;
  height: 44px;
  cursor: pointer;
}

.button-login {
  background-color: #263238;
  transition: background-color .5s;
  color: #E0EDA5;
  border-radius: 25px;
  border: hidden;
  margin: 5px;
  padding: 15px;
  font-size: 12px;
  width: 230px;
  height: 44px;
  cursor: pointer;
} 


/* ---------------------------- Botones e inputs home/login/register ---------------------------- */

.button {
    background-color: #263238;
    transition: background-color .5s;
    color: #E0EDA5;
    border-radius: 25px;
    border: hidden;
    margin: 5px;
    padding: 15px;
    font-size: 12px;
    width: 230px;
    height: 44px;
    cursor: pointer;
}

.button:hover {
    background-color: #111a1e;
  }

.button-google {
    background: rgba(217, 217, 217, 0.26);
    color: #263238;
    border-radius: 25px;
    border: hidden;
    margin: 5px;
    padding: 15px;
    font-size: 12px;
    width: 230px;
    height: 44px;
    cursor: pointer;
    background-image: url(../src/img/google-icon.png);
    background-repeat:no-repeat;
    background-size: 28px;
    background-position: 6%;
}

.login-register-div {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
}

.input-data {
width: 269px;
height: 40px;

font-size: 12px;
background: rgba(217, 217, 217, 0.26);
color: gray;
text-align: left;
border: hidden;
border-radius: 12px;
margin: 5px;
padding: 10px;
}

/* --------------------------------- Timeline --------------------------------- */

.titles {
  font-size: 25px;
  color: #263238;
  text-align: center;
}

.divPost{
    width: 302px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #263238;
    border-radius: 12px;
}

.inpPost{
    width: 302px;
    height: 89px;
    
    font-size: 15px;
    background: rgba(217, 217, 217, 0.26);
    color: gray;
    text-align: left;
    border: hidden;
    border-radius: 12px;
    margin: 5px;
    padding: 10px;
}  

.posts-container {
    font-size: 15px;
    color: gray;
    text-align: left;
    border: hidden;
    border-radius: 12px;
    margin: 5px;
    padding: 10px;
}

  .btnDelete {
    background: rgba(217, 217, 217, 0.26);
    transition: background-color .5s;
    color: gray;
    border-radius: 10px;
    border: hidden;
    margin: 5px;
    padding: 10px;
    font-size: 12px;
    width: 60px;
    height: 40px;
    cursor: pointer;
    justify-items: left;
  }

  .btnEdit {
    background: rgba(217, 217, 217, 0.26);
    transition: background-color .5s;
    color: gray;
    border-radius: 10px;
    border: hidden;
    margin: 5px;
    padding: 10px;
    font-size: 12px;
    width: 60px;
    height: 40px;
    cursor: pointer;
    justify-items: left;

  }

  .btnDelete:hover {
    background-color: rgba(101, 101, 101, 0.39);
  }
  

  .button-logout {
    font-family: sans-serif;
    background-color: #263238;
    color: #E0EDA5;
    border-radius: 25px;
    border: hidden;
    margin: 5px;
    padding: 15px;
    font-size: 12px;
    width: 150px;
    height: 44px;
    cursor: pointer;
    justify-content: flex-end;
}

.usuariopublicacion{
  margin-top: 15px;
  margin-left: 33px;
  color: #263238;
  font-size: 15px;
  font-weight: bold;
}

.fotoUsuario {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
}

.iconoUsuario{
  margin-left: 3px;
  position: absolute;
}


.contadorlike{
  margin-top: auto;
  margin-top: -9px;
  margin-left: -30px;
  color: #263238;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
}

.btnLike {
  margin-left: 260px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #263238; 
  border-radius: 50px;
  padding: 5px;
}
.like, .dislike {
  height: 20px;
  width: 20px;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  background-color: transparent;
}



